<!-- isme hum woh code likhenge jo ki sab ejs files me jaayega aur head me use hoga. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/shop.css">
    <link rel="stylesheet" href="/add-product.css">