
    <%- include('includes/head.ejs')%>
</head>
<body>
    
    <%- include('includes/navigation_bar.ejs')%>

    <h1>Some error Occured.</h1>
    <p>We will be soon returning. Please apologize us for the same.</p>

    <%-include('includes/end.ejs')%>







