body{
    padding: 0;
    margin: 0;
}

main {
    padding: 1rem;
}



.main-header{
    height: 3.5rem;
    background-color: #a02ed9;
    padding: 0 1.5rem;
    position: sticky;
    top: 0;
    display: flex;
}

.main-header__nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-header__item{
    margin: 0 1rem;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}

.main-header__item a{
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: #0cf3ef;
}

.logo{
    font-size: 30px;
}

.listlogOut{
    list-style: none;
}

.logoutButton{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.logoutButton:hover{
    color: #0cf3ef;
}

.detailsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orderNowButton{
    text-decoration: none;
    color: #0cf3ef;
    font-size: 30px;
    border: 3px solid red;
    cursor: pointer;
    background-color: rgb(208, 47, 47);
}

.orderNowButton:hover{
    background-color: bisque;
    color: black;
}

.deleteBtn{
    border: none;
    color: #0cf3ef;
    font-size: 15px;
    border: 3px solid red;
    cursor: pointer;
    background-color: rgb(161, 20, 123);
    width: 100px;
    height: 25px;
}

